@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  
  
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

body {
  background: var(--background);
  background-color: #070F2A;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
